# {{ ansible_managed }}
version: '3.7'

services:
    openra:
        image: "rmoriz/openra:latest"
        container_name: "{{ docker_container_name }}"
        restart: unless-stopped
        ports:
            - 8123:8123